{% extends "home/base.html" %}
{% load gravatar %}
{% block content %}
<h1>Products <a href="{% url 'create_post' %}" class="btn btn-danger btn-sm btn-block" role="button" id="create"><i class="glyphicon glyphicon-edit"></i> Post</a></h1>
<div class='row'>
   {% for product in product %}
    <div class='col-md-4'>
        <h2>{{ product.name }}</h2>
        <img src="{{ MEDIA_URL }}{{ product.image }}" class="prod-img"/>
        <p class="box">{{ product.price }}<br/>
        {{ product.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}